<fieldset class="fieldset">
  <legend class="fieldset-legend">Nickname</legend>
  <input
    type="text"
    class="input"
    [class.input-error]="nicknameModel.touched && nicknameModel.invalid"
    placeholder="Digite um nickname"
    [(ngModel)]="nickname"
    #nicknameModel="ngModel"
    required
    appUniqueNickname
    minlength="6"
  />

  @if (nicknameModel.touched) {
    @if (nicknameModel.hasError('required')) {
      <p class="text-error">Campo Obrigatório</p>
    }

    @if (nicknameModel.hasError('minlength')) {
      <p class="text-error">Tamanho mínimo é 6 caracteres</p>
    }

    @if (nicknameModel.hasError('isNicknameTaken')) {
      <p class="text-error">O nickname já está em uso</p>
    }
  }
</fieldset>
